<h1 class="text-center mb-3">
    <i class="fas fa-home fa"></i> Feed
</h1>

<h3 class="text-center mb-3">Welcome <%= user.name %></h3>
<p class="text-center">
    <img src="<%= pp %>" width="200" height="200" alt="centered image">
</p>

<%= include ("./messages"); %>
<p class="lead mb-3" class="rounded mx-auto d-block" alt="...">Description </p>
<p> <%= user.description %></p>
<%= include ("./messages"); %>
<form action="/user/find" method="POST">
        <div class="input-group">
                <input type="guid" 
                        class="form-control" 
                        name="guidFind" 
                        placeholder="Enter your friend mail" 
                        value="<%= typeof email != 'undefined' ? email : '' %>"
                        >
                <div class="input-group-append">
                        <button class="btn btn-primary btn-block mb-2" id="searchBTN" type="submit">Search Friend</button>
                </div>
        </div>
</form>

<form action="/user/findRequests" method="POST">
        <input type = "hidden" name = "guid" value = "<%= user.email %>" />
        <div class="input-group-append">
                <button class="btn btn-primary btn-block mb-2" id="searchBTN" type="submit">Requests</button>
        </div>
        
</form>


<a href="/User/updateProfilePic" class="btn btn-primary btn-block mb-2"
        >Upload Profile Picture</a>

<a href="/chats" class="btn btn-primary btn-block mb-2"
        >Messages</a>

<a href="/posts/create" class="btn btn-primary btn-block mb-2"
        >New Post</a>
          
<a href="/posts/myPosts" class="btn btn-primary btn-block mb-2"
        >My Posts</a>

<a href="/posts/othersPosts" class="btn btn-primary btn-block mb-2"
        >Others' Posts</a>

<a href="/User/settings" class="btn btn-primary btn-block mb-2"
        >Settings</a>

<a href="/User/logout" class="btn btn-secondary btn-block mb-2"
        >Logout</a>