<h1>Mensajes</h1>

<ul>
    {{#each mensajes}}
    {{#if (filterChat receptor remitente _receptor _remitente)}}
    <li>
        <h3>{{remitente}} {{mensaje}}</h3>
        <p>{{prettifyDate fecha}}</p>

        <a href="/delete-message/{{id}}" class="btn btn-primary btn-block mb-2">Borrar</a>
        
        <a href="/edit-message/{{id}}" class="btn btn-primary btn-block mb-2">Editar</a>
       
    </li>
    {{/if}}
    {{/each}}
</ul>

<form action="{{#unless mensaje.id}}/new-message{{else}}/update-message/{{mensaje.id}}{{/unless}}" method="POST">


<div>
    <label for="mensaje">Write your message: </label>
    <p></p>
    <!---<input type="text" name="mensaje" placeholder="Mensaje" id="mensaje" value="{{mensaje.mensaje}}" size="160">-->
    <input type="text" class="form-control"  name="mensaje" value="{{mensaje.mensaje}}" id="mensaje" placeholder="Message" >
</div>

<div>
     <p></p>
    <button class="btn btn-primary btn-block mb-2"> Send</button>
    <a href="/chats" class="btn btn-secondary btn-block">Back to chats</a>
</div>
    

</form>