<div class="container p-5">
    <h1 class="text-center mb-3">
        <i class="fas fa-home fa"></i> Public Posts
    </h1>
    <a href="/dashboard" class="btn btn-primary btn-block mb-2">Back to feed</a>
        <% var postsUser = posts; %>
        <% for(var i = 0; i < postsUser.length; i++) { %>
            <% if (postsUser[i].is_public) {%>
            <div class="center-text">
                <div class="card text-center">
                    <div class="card-body">
                        <h2 class="card-title text-uppercase">
                            <%=  postsUser[i].email_user %>
                        </h2>
                        <h5> <%= postsUser[i].text %></h5>
                        
                        <h3>Photos</h3>
                        <div>
                            <% var imagesUser = images; %>
                            <% for(var j = 0; j < imagesUser.length; j++) { %>
                                <% if (imagesUser[j].id_post == postsUser[i].id) {%>
                                    <img src= '<%=  imagesUser[j].image %>' width="350" height="350">
                                <% } %>
                            <% } %>
                        </div>

                        <h3>Videos</h3>
                        <div>
                            <% var videosUser = videos; %>
                            <% for(var j = 0; j < videosUser.length; j++) { %>
                                <% if (videosUser[j].id_post == postsUser[i].id) {%>
                                    <video controls width="350" height="350">
                                        <source src = "<%=  videosUser[j].video %>">
                                    </video>
                                <% } %>
                            <% } %>
                        </div>

                        <h3>Documents</h3>
                        <div>
                            <% var documentsUser = documents; %>
                            <% for(var j = 0; j < documentsUser.length; j++) { %>
                                <% if (documentsUser[j].id_post == postsUser[i].id) {%>
                                    <embed src="<%=  documentsUser[j].document %>" type="application/pdf" width="350" height="350">
                                <% } %>
                            <% } %>
                        </div>

                        <a href="/view-comments/<%= postsUser[i].id %>" class="btn btn-secondary btn-block">View Comment</a>
                        <a href="/write-comment/<%= postsUser[i].id %>" class="btn btn-secondary btn-block">New Comment</a>
                    </div>
                </div>
            </div>
            <% } %>
        <% } %>
</div>