<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Register
        </h1>
        <%= include ("./messages"); %>
        <form action="/User/register" method="POST">
          <div>
            <label for="image">Upload Image Your Profile Pic</label>
            <input type="file" id="image" 
                   name="image" value="" required>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="description"> Description</label>
            <input
              type="description"
              id="description"
              name="description"
              class="form-control"
              placeholder="Tell something about you"
              value="<%= typeof description != 'undefined' ? description : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="date">Date of birth</label>
            <input type="date" id="date" name="date"
                  value="2022-03-28"
                  min="1950-01-01" max="2025-12-31"
            />
          </div>
          <div class="form-group">
    <label for="Hoobies">Select three of your favorite hoobies (Ctrl + click)!</label><br>  
    <select name="hoobies" id="hoobies" multiple>
        <option value="Sports">Sports </option>
        <option value="Gym">Gym</option>
        <option value="Art">Art</option>
        <option value="Surf">Surf</option>
        <option value="Movies">Movies</option>
        <option value="Photography">Photography</option>
        <option value="Video Games">Video Games</option>
        <option value="Reading">Reading</option>
      </select>
    
    <p></p>
    <label for="Interests">Select your favorite interests (Ctrl + click)!</label><br>  
    <select name="interests" id="interests" multiple  >
        <option value="Health">Health</option>
        <option value="Fitness">Fitness</option>
        <option value="Languages">Languages</option>
        <option value="Food">Food</option>
        <option value="Literature">Literature</option>
        <option value="Religion">Religion</option>
        <option value="Fashion">Fashion</option>
        <option value="Technology">Technology</option>
        <option value="Party">Party</option>
        <option value="Bars">Bars</option>
        <option value="Travel">Travel</option>
  </select>
  
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
        <p class="lead mt-4">Have An Account? <a href="/User/login">Login</a></p>
      </div>
    </div>
  </div>