
<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Account Data
    </h1>
    </head>
  <body>
    <h1>Change your data: </h1>
    <img src="..." class="rounded mx-auto d-block" alt="...">
    <p></p>
    <p></p>
    <p></p>

    <!-- NAME FORM -->
    <form class="form-floating">
      
        <input type="text" class="form-control" id="nameInput" placeholder="New Name" value= "<%= user.name %>">
        <label for="floatingInputValue">Your name</label>
        <p></p>
        <p></p>
        <p></p>
      </form>
    <!-- EMAIL FORM -->
    <form class="form-floating">
        <input type="email" class="form-control" id="mailInput" placeholder="name@example.com" value=<%= user.email %> disabled readonly>
        <label for="floatingInputValue">Your email</label>
        <p></p>
        <p></p>
        <p></p>
    </form>

    <!-- Description FORM -->
    <div class="form-floating">
        
      <input type="text" class="form-control" id="descriptionINPUT" placeholder="New Description" value="<%= user.description %>">
      <label for="floatingTextarea2">Description</label>
      <p></p>
      <p></p>
      <p></p>
    </div>
  <div class="mb-3 form-check">
      <% if (user.descriptionPrivate) {%>
        <input type="checkbox" class="form-check-input" id="isPublicDescrip" checked>
      <% } else { %>
        <input type="checkbox" class="form-check-input" id="isPublicDescrip" >
        <% } %>
      <label class="form-check-label" for="isPublicEmail">Set your email public</label>
  </div>
  <p></p>
  <p></p>
  <p></p>
    <!-- PASSWORD FORM -->
    <div class="mb-3 row">
      <h2 for="newPassword" class="col-sm-2 col-form-label">New Password: </h2>
        
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" value="<%= typeof inputPassword != 'undefined' ? inputPassword2 : '' %>">
      </div>
      </div>
      <div class="mb-3 row">
        <h2 for="newPassword2" class="col-sm-2 col-form-label">Confirm New Password: </h2>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword2" value="<%= typeof inputPassword2 != 'undefined' ? inputPassword2 : '' %>">
        </div>
        <p></p>
        <p></p>
        <a href="/settings" class="btn btn-primary btn-block mb-2">Update password</a>
      </div>
    
    
    <!-- DATE FORM -->
    <h5 class="form-check-label" for="isPublicDescrip">Change your birth date: </h5>
    <p></p>
    <p></p>
    <p></p>
    <input type="date" id="dateInput" value=<%= user.date %> >
    <p></p>
    <p></p>
    <p></p>
    <div class="mb-3 form-check">
      <% if (user.datePrivate) {%>
        <input type="checkbox" class="form-check-input" id="isPublicDate" checked>
      <% } else { %>
        <input type="checkbox" class="form-check-input" id="isPublicDate" >
        <% } %>
      <label class="form-check-label" for="isPublicDescrip">Set your birth date public</label>
    </div>
    
    <!-- New Hoobies -->
        <p></p>
        <p></p>
        <p></p>
    <h5 for="Hoobies">Select your favorite hoobies (Ctrl + click)!</h5>

    <div>
      <select class="form-select" multiple aria-label="newHoobies" id="hoobiesSelect">
        <% var options = ["Sports", "Gym","Art", "Surf", "Movies", "Photography", "Video Games", "Reading"]; %>
        <% var userDefault = user.hoobies; %>
        
        <% for(var i = 0; i < options.length; i++) { %>
          <% if (userDefault.includes( options[i])){ %>
            <option value='<%= options[i] %>' selected> <%= options[i] %>  </option>
          <% } else {%>
            <option value='<%= options[i] %>'> <%= options[i] %>  </option>
          <% }%>
      
        <% } %>
      </select>
    </div>
    
    <script>
      var userHoobies = user.hoobies;
      var select = document.getElementById("hoobiesSelect");
      for(var i=0; i < select.options.length; i++) {
        for(var i=0; i < userHoobies.length; i++) {
          if (select.options[i] == userHoobies[i]){
            select.options[i].selected = true;
          }
        }
      }
    </script>
    <div class="mb-3 form-check">
        
        <% if (user.hoobiesPrivate) {%>
          <input type="checkbox" class="form-check-input" id="isPublicHoobie" checked>
        <% } else { %>
          <input type="checkbox" class="form-check-input" id="isPublicHoobie" >
          <% } %>
        <label class="form-check-label" for="isPublicHoobie">Set your hoobies public</label>
    </div>
    <!-- New Interests -->
        <p></p>
        <p></p>
        <p></p>
    <h5 for="Interests">Select your favorite interests (Ctrl + click)!</h5>
    <div>
      <select class="form-select" multiple aria-label="newInterests" id="newInterests">

        <% var options = ["Health", "Fitness","Languages", "Food", "Religion", "Fashion", "Technology", "Party", "Bars", "Travel"]; %>
        <% var userDefault = user.interests; %>
        
        <% for(var i = 0; i < options.length; i++) { %>
          <% if (userDefault.includes( options[i])){ %>
            <option value='<%= options[i] %>' selected> <%= options[i] %>  </option>
          <% } else {%>
            <option value='<%= options[i] %>'> <%= options[i] %>  </option>
          <% }%>
      
        <% } %>

    </select>
    </div>
  
    <div class="mb-3 form-check">
        
        <% if (user.interestsPrivate) {%>
          <input type="checkbox" class="form-check-input" id="isPublicInterests" checked>
        <% } else { %>
          <input type="checkbox" class="form-check-input" id="isPublicInterests" >
          <% } %>
        <label class="form-check-label" for="isPublicHoobie">Set your hoobies public</label>
        <label class="form-check-label" for="isPublicInterests">Set your interests public</label>
    </div>
    <!-- Image uploader -->
    <div>
        <p></p>
        <p></p>
        <p></p>
        <h5 for="formFileLg" class="form-label">Change your profile pic: </h5>
        <input class="form-control form-control-lg" id="formFileLg" type="file">
    </div>
    <div class="mb-3 form-check">
        
        <% if (user.imagePrivate) {%>
          <input type="checkbox" class="form-check-input" id="isPublicImage" checked>
        <% } else { %>
          <input type="checkbox" class="form-check-input" id="isPublicImage" >
          <% } %>
        <label class="form-check-label" for="isPublicImage">Set your profile picture public</label>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <a href="/settings" class="btn btn-primary btn-block mb-2">Update data</a>
    <a href="/dashboard" class="btn btn-primary btn-block mb-2">Back to feed</a>
      
  </body>
</html>
